*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Html{
    scroll-behavior: smooth;
}


.container{
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-areas: "logo logo header"
                          "main main imgbox"
                           "quotes quotes imgbox"
                            "btn1 btn2 imgbox";
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 4fr 1.2fr 1.2fr;
}
.container .logo{
    grid-area: logo;
     display: flex;
     justify-content: center;
}
.container .logo a{
    color: green;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.container .main{
    grid-area: main;
    background-color: #fff;
}
.container .quotes{
    grid-area: quotes;
}
.container .btn1{
    grid-area: btn1;
    background-color: greenyellow;
}
.container .btn2{
    grid-area: btn2;
    background-color: green;
}
header{
    grid-area: header;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6rem;
}
header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header ul li a{
    padding: 30px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.container .imgbox{
    grid-area: imgbox;
    background-color: lightgray;
}